{% extends "mainapp/base.html" %}

{% block content %}
<div style="
    background-image:url('https://www.edinburghcollege.ac.uk/media/i13fu5m1/milton_granton_068.jpg?center=0.49762618357060245,0.51118166925454267&mode=crop&width=1920&height=600&rnd=132717824920400000');
    background-size:cover;
    min-height:100vh;
    padding:50px 0;
">
    <div style="
        width:40%;
        margin:auto;
        background:rgba(255,255,255,0.95);
        padding:30px;
        border-radius:15px;
        box-shadow:0 0 15px rgba(0,0,0,0.3);
    ">

        <h2 style="text-align:center;">Add HOD</h2>

        <form method="POST">
            {% csrf_token %}

            <label>Name:</label><br>
            <input type="text" name="name" required style="width:100%; padding:10px;"><br><br>

            <label>Email:</label><br>
            <input type="email" name="email" required style="width:100%; padding:10px;"><br><br>

            <label>Department:</label><br>
            <select name="department" required style="width:100%; padding:10px;">
                {% for d in departments %}
                <option value="{{ d.id }}">{{ d.name }}</option>
                {% endfor %}
            </select><br><br>

            <button type="submit" style="
                width:100%; padding:10px; background:#333; color:white; border:none; border-radius:5px;">
                Save
            </button>
        </form>

    </div>
</div>
{% endblock %}
